.header
	&__slider
		height: 100vh
		background-image: url(../img/header-slider/slide-1.jpg)
		background-repeat: no-repeat
		background-size: cover
		background-position: center

.slider
	&__item
		padding: 40px 80px

	&__arrow
		position: absolute
		top: 40px

		&--prev
			right: 124px
			transform: rotate(180deg) translate(0 1px)

		&--next
			right: 80px
			